.location-block {
	position: relative;
}
.location-block .location {
	float: left;
	line-height: 54px;
	font-size: 12px;
}
.location label {
	margin-right: 5px;
	color: #999;
	vertical-align: top;
}
.location-current {
	overflow: hidden;
	display: inline-block;
	max-width: 138px;
	margin-right: .5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: top;
}
.location-change {
	color: $linkcolor;
	vertical-align: top;
}
.breadcrumbs .fa {
	font-size: 18px;
	margin: 0 6px;
}

.search-form {
	float: right;
	margin: 10px 0;
	height: 32px;
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 3;
}
.search-form input {
	width: 236px;
	margin: 4px 0;
	border: none;
	line-height: 24px;
	transition: width .3s ease-in-out;
}
.search-form input:focus {
	width: 306px;
	outline: none;
}
.search-form button {
	appearance: none;
	border: none;
	color: #999;
	font-size: 18px;
	background: none;
	line-height: 24px;
}
.search-form button:hover {
	color: $linkcolor;
}

.block-title {
	font-size: 20px;
}
.block-desc {
	font-size: 14px;
	color: #999;
	margin-left: 15px;
}
.filter-wrapper {
	border: 1px solid #e6e6e6;
}
.filter-block {
	position: relative;
	padding: 10px 10px 10px 7em;
	background-color: #fff;
}
.filter-block .filter-label {
	position: absolute;
	top: 16px;
	left: 20px;
}
.filter-block .category li,
.filter-block .sub-category li {
	display: inline-block;
	margin: 5px 6px;
	padding: 0 10px;
	line-height: 26px;
	cursor: pointer;
}
.filter-block .category li:hover {
	background-color: #f6f6f6;
	border-radius: 3px;
}
.filter-block .category li.active {
	line-height: 36px;
	background-color: #f6f6f6;
	border-radius: 0;
	margin: 0;
	padding: 0 16px;
	height: 38px;
}
.filter-block .sub-category {
	padding: 6px 0;
	background-color: #f6f6f6;
}
.filter-block .sub-category li.active {
	color: #fff;
	background-color: #0089dc;
	border-radius: 3px;
}

.extra-filter {
	background-color: #f5f5f5;
}
.extra-sort {
	float: left;
	line-height: 40px;
	margin-left: 10px;
}
.extra-sort-item {
	position: relative;
	float: left;
	padding: 0 7px;
}
.extra-sort-dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: -3px;
	width: 97px;
	background-color: #fff;
	line-height: 30px;
	padding: 40px 3px 4px 14px;
	border: 1px solid #f5f5f5;
	border-width: 0 1px 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	z-index: 6;
}
.extra-sort-item:hover > a:first-child {
	position: relative;
	z-index: 999;
}
.extra-sort-item:hover .extra-sort-dropdown {
	display: inline-block;
}
.extra-sort-dropdown a {
	display: block;
	color: #666;
}
.extra-option {
	float: right;
	margin: 3px 10px 3px 0;
	line-height: 34px;
	border-left: 1px #e6e6e6 solid;
	padding: 0 10px;
}
.extra-option input {
	margin-right: 3px;
	vertical-align: middle;
}
.extra-option .extra-option-item + .extra-option-item {
	margin-left: 10px;
}

.main-content {
	position: relative;
	margin-top: 20px;
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	background-color: #fff;
}
.main-content:after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #e6e6e6;
	height: 1px;
	font-size: 1px;
}
.shop-block {
	display: inline-block;
	width: 25%;
	padding: 20px;
	margin-left: -0.31em;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
	box-sizing: border-box;
}
.shop-block:nth-child(4n+1) {
	margin-left: 0;
}
.shop-block:hover {
	background-color: #f5f5f5;
}
.shop-block span {
	display: block;
}
.shop-logo {
	float: left;
	margin-right: 20px;
}
.shop-logo {
	font-size: 12px;
	color: #999;
	text-align: center;
}
.shop-title {
	overflow: hidden;
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.shop-block:hover .shop-title {
	color: $bluehover;
}
.shop-monthsales,
.shop-cost {
	font-size: 12px;
	color: #999;
}
.shop-activity {
	margin-top: 6px;
}
.shop-activity i {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	text-align: center;
	width: 18px;
	border-radius: 2px;
	margin-right: 3px;
	padding: 1px;
	background-color: #f63;
	white-space: nowrap;
}
.rstpopover {
	display: none;
	position: absolute;
	width: 316px;
	color: #999;
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 16px 14px;
	z-index: 4
}
.rstpopover .rstpopover-arrow {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid #ddd;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})"
}

.rstpopover.placeright .rstpopover-arrow {
	border-top: 0;
	border-right: 0;
	background: #fff;
	left: -7px;
	left: -8px\9;
	top: 15px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})"
}

.rstpopover.placeleft .rstpopover-arrow {
	border-bottom: 0;
	border-left: 0;
	right: -7px;
	right: -5px\9;
	top: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})"
}

.rstpopover.alignbottom .rstpopover-arrow {
	top: auto;
	bottom: 20px
}

:root .rstpopover .rstpopover-arrow {
	-ms-filter: ""
}

:root .rstpopover.placeright .rstpopover-arrow {
	left: -7px\9
}

:root .rstpopover.placeleft .rstpopover-arrow {
	right: -7px\9
}

.rstpopover-title {
	margin-bottom: 8px;
	color: #333;
	font-size: 16px;
	font-weight: 700
}

.rstpopover-flavors {
	font-size: 12px;
	color: #999;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px
}

.rstpopover-activities {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 15px
}

.rstpopover-activities li {
	margin: 10px 0;
	font-size: 12px;
	color: #666;
	padding-left: 20px
}

.rstpopover-activities li i {
	display: inline-block;
	padding: 1px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
	text-align: center;
	width: 18px;
	border-radius: 2px;
	background-color: #f63;
	margin-left: -20px;
	margin-right: 5px;
	word-wrap: nowrap
}

.rstpopover-activities li span {
	color: #f74342
}

.rstpopover-delivery {
	display: table;
	width: 100%;
	background-color: #f2f2f2;
	padding: 8px 0;
	line-height: 14px;
	margin-bottom: 20px;
	white-space: nowrap
}

.rstpopover-delivery li {
	display: table-cell;
	color: #333;
	font-size: 12px;
	text-align: center;
	margin-right: -1px;
	border-left: 1px solid #ddd
}

.rstpopover-delivery li:first-child {
	border-left: none
}

.rstpopover-delivery li span {
	margin: 0 3px
}

.rstpopover-notice {
	font-size: 12px;
	line-height: 20px;
	color: #666
}

.rstblock .rstpopover {
	position: absolute;
	display: none;
	z-index: 4
}
