.location-block {
	position: relative;
}
.location-block .location {
	line-height: 54px;
	font-size: 12px;
}
.location label {
	margin-right: 5px;
	color: #999;
	vertical-align: top;
}
.location-current {
	display: inline-block;
	max-width: 138px;
	margin-right: .5em;
	vertical-align: top;
}
.location-current:hover {
	color: $linkcolor;
}
.location-change {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.location-change > a {
	color: $linkcolor;
}
.location-dropbox {
	position: absolute;
	display: none;
	left: 0;
	padding: 0;
	margin-top: -8px;
	color: #999;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	list-style: none;
}
.location-dropbox:before {
	content: none;
}
.location-dropbox .arrow {
	position: absolute;
	top: -5px;
	left: 30px;
	width: 7px;
	height: 7px;
	z-index: 1;
	border: 1px solid #f5f5f5;
	border-bottom: 0;
	border-right: 0;
	background: #fff;
	transform: rotate(45deg);
}
.location-dropbox li {
	line-height: 12px;
	font-size: 12px;
	color: #666;
	border-bottom: 1px dotted #ddd;
}
.location-change li a {
	position: relative;
	display: block;
	max-width: 138px;
	padding: 10px 15px;
	z-index: 2;
}
.location-change li a:hover {
	background: #f9f9f9;
}
.location-change .changelocation {
	background: #f4f4f4;
	border-bottom: none;
}
.location-change .changelocation a {
	color: $linkcolor;
	background-color:
}
.location-change:hover .location-dropbox {
	display: block;
}
.breadcrumbs .fa {
	font-size: 18px;
	margin: 0 6px;
}

.search-form {
	margin: 10px 0;
	height: 32px;
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 3;
}
.search-form input {
	width: 236px;
	margin: 4px 0;
	border: none;
	line-height: 24px;
	transition: width .3s ease-in-out;
}
.search-form input:focus {
	width: 306px;
	outline: none;
}
.search-form button {
	appearance: none;
	border: none;
	color: #999;
	font-size: 18px;
	background: none;
	line-height: 24px;
}
.search-form button:hover {
	color: $linkcolor;
}

.who-fetch-link {
	position: relative;
	display: inline-block;
	width: 186px;
	height: 42px;
	margin-bottom: 6px;
	cursor: pointer;
	z-index: 2;
}
.who-fetch-link img {
	width: 100%;
}

.block-title {
	font-size: 20px;
}
.block-desc {
	font-size: 14px;
	color: #999;
	margin-left: 15px;
}
.filter-wrapper {
	border: 1px solid #e6e6e6;
}
.filter-block {
	position: relative;
	padding: 10px 10px 10px 7em;
	background-color: #fff;
}
.filter-block .filter-label {
	position: absolute;
	top: 16px;
	left: 20px;
}
.filter-block .category li,
.filter-block .sub-category li {
	display: inline-block;
	margin: 5px 6px;
	padding: 0 10px;
	line-height: 26px;
	cursor: pointer;
}
.filter-block .category li:hover {
	background-color: #f6f6f6;
	border-radius: 3px;
}
.filter-block .category li.active {
	line-height: 36px;
	background-color: #f6f6f6;
	border-radius: 0;
	margin: 0;
	padding: 0 16px;
	height: 38px;
}
.filter-block .category li.no-sub.active {
	margin: 5px 6px;
	padding: 0 10px;
	line-height: 26px;
	height: auto;
	color: #fff;
	background-color: #0089dc;
	border-radius: 3px;
	cursor: pointer;
}
.filter-block .sub-category {
	padding: 6px 0;
	background-color: #f6f6f6;
}
.filter-block .sub-category li.active {
	color: #fff;
	background-color: #0089dc;
	border-radius: 3px;
}

.extra-filter {
	background-color: #f5f5f5;
}
.extra-sort {
	float: left;
	line-height: 40px;
	margin-left: 10px;
}
.extra-sort-item {
	position: relative;
	float: left;
	padding: 0 7px;
}
.extra-sort-item.active {
	color: $linkcolor;
}
.extra-sort-item .icon-arrow-down,
.extra-sort-item .icon-arrow-up {
	margin-left: 6px;
	vertical-align: middle;
}
.extra-sort-item .icon-arrow-up {
	display: none;
}
.extra-sort-dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: -3px;
	width: 97px;
	background-color: #fff;
	line-height: 30px;
	padding: 40px 3px 4px 14px;
	border: 1px solid #f5f5f5;
	border-width: 0 1px 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	z-index: 6;
}
.extra-sort-dropdown.wide {
	width: 135px;
}
.extra-sort-item:hover > a:first-child {
	position: relative;
	z-index: 999;
}
.extra-sort-item:hover .icon-arrow-down {
	display: none;
}
.extra-sort-item:hover .icon-arrow-up {
	display: inline-block;
}
.extra-sort-item:hover .extra-sort-dropdown {
	display: block;
}
.extra-sort-dropdown a {
	display: block;
	color: #666;
}
.extra-sort-dropdown a:hover {
	color: $linkcolor;
}
.extra-option {
	margin: 3px 10px 3px 0;
	line-height: 34px;
	border-left: 1px #e6e6e6 solid;
	padding: 0 10px;
}
.extra-option input {
	margin-right: 3px;
	vertical-align: middle;
}
.extra-option .extra-option-item + .extra-option-item {
	margin-left: 10px;
}

.place-tips {
	padding: 0 10px;
	margin-top: 10px;
	line-height: 40px;
	background-color: #fffdee;
	border: 1px solid #ffe4b9;
}
.place-tips var {
	font-style: normal;
	color: #f63;
	font-size: 20px;
}
.place-tips a {
	color: $linkcolor;
}

.main-content {
	position: relative;
	margin-top: 20px;
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	background-color: #fff;
}
.main-content:after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #e6e6e6;
	height: 1px;
	font-size: 1px;
}
.shop-item {
	display: inline-block;
	width: 33.33333%;
	padding: 20px;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
}
@media (width >= 1260px) {
	.shop-item {
		width: 25%
	}
}
.shop-item:hover {
	background-color: #f5f5f5;
}
.shop-logo {
	position: relative;
	margin-right: 20px;
}
.shop-logo {
	font-size: 12px;
	color: #999;
	text-align: center;
}
.shop-logo .brand-badge {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	background-position: 4px -487px;
	z-index: 1;
}
.shop-title {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: bold;
}
.shop-item:hover .shop-title {
	color: $linkcolor;
}
.shop-star {
	position: relative;
	display: inline-block;
	line-height: 1em;
	color: #ccc;
	letter-spacing: 2px;
}
.shop-star span {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #ffc30c;
	white-space: nowrap;
}
.shop-star span:before,
.shop-star:before {
	content: "\e950\e950\e950\e950\e950";
}
.shop-monthsales,
.shop-cost {
	font-size: 12px;
	color: #999;
}
.shop-monthsales {
	display: inline-block;
	margin-left: 10px;
}
.shop-activity {
	margin-top: 6px;
}
.shop-activity i {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	text-align: center;
	width: 18px;
	border-radius: 2px;
	margin-right: 3px;
	padding: 1px;
	background-color: #f63;
	white-space: nowrap;
}
.shop-phone,
.shop-relaxing,
.shop-schedule {
	display: inline-block;
	line-height: 20px;
	margin-top: 8px;
	padding: 0 6px;
	border-radius: 3px;
}
.shop-relaxing {
	color: #fff;
	background: #666;
}
.shop-disabled .shop-logo,
.shop-disabled .shop-content > div:not(:last-child) {
	opacity: .5;
}

.detailpop {
	position: absolute;
	display: none;
	width: 316px;
	padding: 16px 14px;
	color: #999;
	background-color: #fff;
	border: 2px solid #ddd;
	z-index: 4;
}
.detailpop .detailpop-arrow {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid #ddd;
	background: #fff;
	transform: rotate(45deg);
}
.detailpop.placeright .detailpop-arrow {
	border-top: 0;
	border-right: 0;
	background: #fff;
	left: -7px;
	top: 15px;
	transform: rotate(45deg);
}
.detailpop.placeleft .detailpop-arrow {
	border-bottom: 0;
	border-left: 0;
	right: -7px;
	top: 15px;
}
.detailpop.alignbottom .detailpop-arrow {
	top: auto;
	bottom: 20px
}
.detailpop-title {
	margin-bottom: 8px;
	color: #333;
	font-size: 16px;
	font-weight: 700
}
.detailpop-flavors {
	font-size: 12px;
	color: #999;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px
}
.detailpop-activities {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 15px
}
.detailpop-activities li {
	margin: 10px 0;
	font-size: 12px;
	color: #666;
	padding-left: 20px
}
.detailpop-activities li i {
	display: inline-block;
	padding: 1px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
	text-align: center;
	width: 18px;
	border-radius: 2px;
	background-color: #f63;
	margin-left: -20px;
	margin-right: 5px;
	word-wrap: nowrap
}
.detailpop-delivery {
	display: table;
	width: 100%;
	background-color: #f2f2f2;
	padding: 8px 0;
	line-height: 14px;
	margin-bottom: 20px;
	white-space: nowrap
}
.detailpop-delivery li {
	display: table-cell;
	color: #333;
	font-size: 12px;
	text-align: center;
	margin-right: -1px;
	border-left: 1px solid #ddd
}
.detailpop-delivery li:first-child {
	border-left: none
}
.detailpop-delivery li span {
	margin: 0 3px
}
.detailpop-notice {
	font-size: 12px;
	line-height: 20px;
	color: #666
}
.rstblock .detailpop {
	position: absolute;
	display: none;
	z-index: 4
}
