.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	transform: translateX(295px);
	z-index: 999;
}
.sidebar a {
	display: inline-block;
	width: 35px;
	margin: 5px 0;
	color: #ccc;
	box-sizing: border-box;
}
.sidebar a .fa {
	font-size: 20px;
}
.sidebar-tabs {
	float: left;
	width: 35px;
	height: 100%;
	padding: 50px 0px;
	text-align: center;
	background-color: $sbcolor;
}
.sidebar-tabs .tabs-top {
	position: absolute;
	width: inherit;
	top: 50%;
	margin-top: -220px;
}
.sidebar-tabs .tabs-bottom {
	position: absolute;
	width: inherit;
	bottom: 50px;
}
.sidebar-btn {
	line-height: 35px;
}
.sidebar-cartbtn {
	padding: 7px 8px 10px;
	margin: 8px 0;
	line-height: 16px;
}
.tabs-top hr {
	border-top: 1px solid #737074;
	height: 0;
	margin: 0 8px;
}

.sidebar-content {
	width: 295px;
	height: 100%;
	margin-left: 35px;
	background-color: #e6e6e6;
}
.cart-caption {
	padding: 5px 10px;
	background-color: #fff;
}
.cart-content {
	padding: 5px 10px;
	color: #ccc;
}
